* {
  font-family: "Roboto", sans-serif;
}

.boxParentPadding {
  @apply p-5;
}

.boxParent {
  @apply mt-16 grid gap-5;
  grid-template-columns: repeat(6, 1fr);
}

.boxChild {
  @apply w-full h-auto p-5 rounded border border-gray-300 flex flex-wrap gap-4;
}

.bookInfo {
  @apply flex flex-col gap-1;
}

.pagination {
  @apply flex flex-wrap justify-center mt-4;
}

.pagination button {
  @apply w-10 h-10 font-semibold text-lg mx-2 rounded-lg cursor-pointer transition-all ease-in-out duration-300 bg-transparent text-gray-200 border;
}

.pagination button.active {
  @apply font-black border-black bg-red-500 text-white;
}

.listHeader {
  @apply flex items-center justify-between gap-2 flex-wrap;
}

.bookTitle {
  @apply text-xl cursor-pointer font-medium pt-2;
}

.imgCursor {
  @apply cursor-pointer;
}

.authorNameStyle {
  @apply text-lg font-normal pb-2;
}

.genreFont {
  @apply text-sm font-medium;
}

/* Responsive grid layout */
@media (max-width: 1200px) {
  .boxParent {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .boxParent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .boxParent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .boxParent {
    grid-template-columns: 1fr;
  }
}
